<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body class="container-fluid">
    <header>
      <% include partials/header %>
    </header>
  <main>
    <h1>PeakBagr</h1>
    <p>Welcome to PeakBagr</p>
    <a href="/signup/" class="btn btn-primary">Sign Up</a>
    <a href="/login/" class="btn btn-primary">Log In</a>
    <a href="/peaks/" class="btn btn-primary">My Peaks</a>

  <div>
    <h1>About</h1>
    <p>
      To consider a peak bagged, or summitted, is to reach its highest point by any route using only human power.
      Use this website to keep track of all of the peaks you have bagged, and those you wish to bag.
    </p>
  </div>
</main>

<footer>
  <% include partials/footer %>
</footer>

</body>
</html>
