<!DOCTYPE html>
<html>
  <head>
    <title>Peakbagr</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Peakbagr</h1>
    <p>Welcome to Peakbagr</p>
  </body>
</html>
