<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body class="indexBody">
    <header>
      <% include partials/header %>
    </header>
  <main>
    <div class="title">
      <h1>PeakBagr</h1>
      <a href="/signup/" class="btn">Sign Up</a>
      <a href="/login/" class="btn">Log In</a>
    </div>

    <div class="about">
      <h2>About</h2>
      <p>
        To consider a peak bagged, or summitted, is to reach its highest point by any route using only human power.
        Use this webapp to keep track of all of the peaks you have bagged, and those you wish to bag. Enjoy the
        Google Maps API feature to visualize your peaks.
      </p>
    </div>
  </main>

<footer>
  <% include partials/footer %>
</footer>

</body>
</html>
