* {
    font-family: 'Work Sans', sans-serif;
    color: #263238;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*background-color: #fafafa;*/
    background: url("/images/chamonix.jpg") no-repeat center center fixed;
    background-size: cover;
}

a {
    color: #00B7FF;
}

h1 {
    font-family: 'Space Mono', monospace;
}

h2 {
    text-align: center;
}

nav {
    background-color: #455a64;
    border-radius: 5px;

}

label {
    font-size: 1.1em;
    color: white;
}

a:hover {
    color: green;
}

.indexBody {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url("/images/chamonix.jpg") no-repeat center center fixed;
    background-size: cover;
}

.btn {
    background-color: #0091ea;
    margin-top: 20px;
    margin-left: 10px;
}

.title {
    text-align: center;
    padding: 50px;
    margin: 0px 100px 100px 100px;
}

.title h1 {
    font-size: 6em;
}

.about {
    background-color: rgba(245, 245, 245, 0.75);
    border-radius: 5px;
    padding: 20px;
    color: #263238;
}

.about h2 {
    font-size: 3em;
    text-align: left;
}

.peaksIndex h2 {
  font-sizee: 1em;
}

.about p {
    font-size: 1.2em;
}

.title .btn {
    margin-top: 40px;
    margin-left: 10px;
}

.btn:hover {
    background-color: #4caf50;
}

.peaksIndex h4 {
    font-size: 2em;
}

.peaksIndex h5 {
    font-size: 1.2em;
}

.footer {
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 5px;
    color: #263238;
    text-align: center;
}

.peakname {
  background-color: rgba(255,255,255,0.75);
  padding: 0px 10px;
}

#map {
    width: 650px;
    height: 350px;
}

#showMap {
    width: 450px;
    height: 250px;
}

#wishList {
    padding-left: 10px;
}

#bagged {
    padding-left: 40px;
}

#formMap {
    width: 450px;
    height: 250px;
